.field
  = f.attribute_fields do |a|
    = a.attribute_select({associations: [:wage, :bonus, :adjustment]}, {class: "input-medium"})
  = f.predicate_select
  = f.value_fields do |v|
    = v.text_field :value, class: 'input-large'
  = link_to "remove", '#', class: "remove_fields"