<div class="field">
  <%= f.attribute_fields do |a| %>
    <%= a.attribute_select({associations: [:wage, :bonus, :adjustment]}, {class: "input-medium"}) %>
  <% end %>
  <%= f.predicate_select %>
  <%= f.value_fields do |v| %>
    <%= v.text_field :value, class: 'input-large' %>
  <% end %>
  <%= link_to "remove", '#', class: "remove_fields" %>
</div>