= simple_form_for(@employee, validate: true, :html => {:class => 'form-horizontal'}) do |f|
  .row
    - if notification = f.error_notification
      .alert.alert-error.fade.in
        %a.close{"data-dismiss" => "alert", :href => "#"} ×
        = notification
    .span4.border
      %h3 个人基本信息
      = f.input :number
      = f.input :name
      = f.input :dug, collection: all_dugs, include_blank: false, input_html: {'url' => du_query_path}
      = f.input :du, collection: all_du(all_dugs.first), include_blank: false
      = f.input :post
      = f.input :duty
      = f.input :charge_area
      = f.input :client_rank
    .span4
      = f.fields_for :wage do |builder|
        %fieldset
          %h3 工资信息
          = render 'wages/fields', f: builder
    .span4
      = f.fields_for :bonus do |builder|
        %fieldset
          %h3 奖金信息
          = render 'bonuses/fields', f: builder, bonus: @employee.bonus
  .row
    = f.fields_for :adjustment do |builder|
      %fieldset
        %h3 调薪历史
        = render 'adjustments/fields', f: builder
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), |
      employees_path, :class => 'btn'                              |