<%- model_class = Employee -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <div class="row employee-info">
    <div class="span3">
      <dt><strong><%= Employee.human_attribute_name(:number) %>:</strong></dt>
      <dd><%= @employee.number %></dd>
      <dt><strong><%= Employee.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= @employee.name %></dd>
      <dt><strong><%= Employee.human_attribute_name(:line_of_business) %>:</strong></dt>
      <dd><%= @employee.line_of_business %></dd>
      <dt><strong><%= Employee.human_attribute_name(:dug) %>:</strong></dt>
      <dd><%= @employee.dug %></dd>
      <dt><strong><%= Employee.human_attribute_name(:du) %>:</strong></dt>
      <dd><%= @employee.du %></dd>
      <dt><strong><%= Employee.human_attribute_name(:post) %>:</strong></dt>
      <dd><%= @employee.post %></dd>
      <dt><strong><%= Employee.human_attribute_name(:duty) %>:</strong></dt>
      <dd><%= @employee.duty %></dd>
      <dt><strong><%= Employee.human_attribute_name(:charge_area) %>:</strong></dt>
      <dd><%= @employee.charge_area %></dd>
      <dt><strong><%= Employee.human_attribute_name(:client_rank) %>:</strong></dt>
      <dd><%= @employee.client_rank %></dd>
    </div>
    <div class="span3">
      <dt><strong><%= Wage.human_attribute_name(:basic) %>:</strong></dt>
      <dd><%= @employee.wage.basic %></dd>
      <dt><strong><%= Wage.human_attribute_name(:post) %>:</strong></dt>
      <dd><%= @employee.wage.post %></dd>
      <dt><strong><%= Wage.human_attribute_name(:compensation) %>:</strong></dt>
      <dd><%= @employee.wage.compensation %></dd>
      <dt><strong><%= Wage.human_attribute_name(:seniority_allowance) %>:</strong></dt>
      <dd><%= @employee.wage.seniority_allowance %></dd>
      <dt><strong><%= Wage.human_attribute_name(:communication_allowance) %>:</strong></dt>
      <dd><%= @employee.wage.communication_allowance %></dd>
      <dt><strong><%= Wage.human_attribute_name(:accommodation_allowance) %>:</strong></dt>
      <dd><%= @employee.wage.accommodation_allowance %></dd>
      <dt><strong><%= Wage.human_attribute_name(:transportation_allowance) %>:</strong></dt>
      <dd><%= @employee.wage.transportation_allowance %></dd>
      <dt><strong><%= Wage.human_attribute_name(:monthly_wages_standard) %>:</strong></dt>
      <dd><%= @employee.wage.monthly_wages_standard %></dd>
      <dt><strong><%= Wage.human_attribute_name(:travel_allowance) %>:</strong></dt>
      <dd><%= @employee.wage.travel_allowance %></dd>
      <dt><strong><%= Wage.human_attribute_name(:monthly_total) %>:</strong></dt>
      <dd><%= @employee.wage.monthly_total %></dd>
    </div>
    <div class="span3">
      <dt><strong><%= Bonus.human_attribute_name(:project) %>:</strong></dt>
      <dd><%= @employee.bonus.project %></dd>
      <dt><strong><%= Bonus.human_attribute_name(:annual) %>:</strong></dt>
      <dd><%= @employee.bonus.annual %></dd>
      <dt><strong><%= Bonus.human_attribute_name(:granted_at) %>:</strong></dt>
      <dd><%= time_output @employee.bonus.granted_at %></dd>
      <dt><strong><%= Bonus.human_attribute_name(:sponsor) %>:</strong></dt>
      <dd><%= @employee.bonus.sponsor %></dd>
    </div>
    <div class="span3">
        <dt><strong><%= Adjustment.human_attribute_name(:jan) %>:</strong></dt>
        <dd><%= @employee.adjustment.jan %></dd>
        <dt><strong><%= Adjustment.human_attribute_name(:feb) %>:</strong></dt>
        <dd><%= @employee.adjustment.feb %></dd>
        <dt><strong><%= Adjustment.human_attribute_name(:mar) %>:</strong></dt>
        <dd><%= @employee.adjustment.mar %></dd>
        <dt><strong><%= Adjustment.human_attribute_name(:apr) %>:</strong></dt>
        <dd><%= @employee.adjustment.apr %></dd>
        <dt><strong><%= Adjustment.human_attribute_name(:may) %>:</strong></dt>
        <dd><%= @employee.adjustment.may %></dd>
        <dt><strong><%= Adjustment.human_attribute_name(:jun) %>:</strong></dt>
        <dd><%= @employee.adjustment.jun %></dd>
        <dt><strong><%= Adjustment.human_attribute_name(:jul) %>:</strong></dt>
        <dd><%= @employee.adjustment.jul %></dd>
        <dt><strong><%= Adjustment.human_attribute_name(:aug) %>:</strong></dt>
        <dd><%= @employee.adjustment.aug %></dd>
        <dt><strong><%= Adjustment.human_attribute_name(:sep) %>:</strong></dt>
        <dd><%= @employee.adjustment.sep %></dd>
        <dt><strong><%= Adjustment.human_attribute_name(:oct) %>:</strong></dt>
        <dd><%= @employee.adjustment.oct %></dd>
        <dt><strong><%= Adjustment.human_attribute_name(:nov) %>:</strong></dt>
        <dd><%= @employee.adjustment.nov %></dd>
        <dt><strong><%= Adjustment.human_attribute_name(:dec) %>:</strong></dt>
        <dd><%= @employee.adjustment.dec %></dd>
      </div>
  </div>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              employees_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_employee_path(@employee), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              employee_path(@employee),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
