.control-group
  = f.label :basic, :class => 'control-label'
  .controls
    = f.text_field :basic, :class => 'text_field'
.control-group
  = f.label :post, :class => 'control-label'
  .controls
    = f.text_field :post, :class => 'text_field'
.control-group
  = f.label :compensation, :class => 'control-label'
  .controls
    = f.text_field :compensation, :class => 'text_field'
.control-group
  = f.label :seniority_allowance, :class => 'control-label'
  .controls
    = f.text_field :seniority_allowance, :class => 'text_field'
.control-group
  = f.label :communication_allowance, :class => 'control-label'
  .controls
    = f.text_field :communication_allowance, :class => 'text_field'
.control-group
  = f.label :accommodation_allowance, :class => 'control-label'
  .controls
    = f.text_field :accommodation_allowance, :class => 'text_field'
.control-group
  = f.label :transportation_allowance, :class => 'control-label'
  .controls
    = f.text_field :transportation_allowance, :class => 'text_field'
.control-group
  = f.label :monthly_wages_standard, :class => 'control-label'
  .controls
    = f.text_field :monthly_wages_standard, :class => 'text_field'
.control-group
  = f.label :travel_allowance, :class => 'control-label'
  .controls
    = f.text_field :travel_allowance, :class => 'text_field'
.control-group
  = f.label :monthly_total, :class => 'control-label'
  .controls
    = f.text_field :monthly_total, :class => 'text_field'