= f.input :basic 
= f.input :post 
= f.input :compensation  
= f.input :seniority_allowance
= f.input :communication_allowance
= f.input :accommodation_allowance
= f.input :transportation_allowance
= f.input :monthly_wages_standard
= f.input :travel_allowance
= f.input :monthly_total