<%- model_class = Wage -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:employee_id) %></th>
      <th><%= sortable :basic, model_class %></th>
      <th><%= sortable :post, model_class %></th>
      <th><%= sortable :compensation, model_class %></th>
      <th><%= sortable :seniority_allowance, model_class %></th>
      <th><%= sortable :communication_allowance, model_class %></th>
      <th><%= sortable :accommodation_allowance, model_class %></th>
      <th><%= sortable :transportation_allowance, model_class %></th>
      <th><%= sortable :monthly_wages_standard, model_class %></th>
      <th><%= sortable :travel_allowance, model_class %></th>
      <th><%= sortable :monthly_total, model_class %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @wages.each do |wage| %>
      <tr>
        <td><%= link_to wage.employee.full_name, employee_path(wage.employee) %></td>
        <td><%= wage.basic %></td>
        <td><%= wage.post %></td>
        <td><%= wage.compensation %></td>
        <td><%= wage.seniority_allowance %></td>
        <td><%= wage.communication_allowance %></td>
        <td><%= wage.accommodation_allowance %></td>
        <td><%= wage.transportation_allowance %></td>
        <td><%= wage.monthly_wages_standard %></td>
        <td><%= wage.travel_allowance %></td>
        <td><%= wage.monthly_total %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_wage_path(wage), :class => 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

