<div class="control-group">
  <%= f.label :project, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :project, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :annual, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :annual, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :granted_at, :class => 'control-label' %>
  <div class="controls">
    <%= f.date_select :granted_at, :class => 'date_select' %>
  </div>
</div>
<div class="control-group">
  <%= f.label :sponsor, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :sponsor, :class => 'text_field' %>
  </div>
</div>