.control-group
  = f.label :project, :class => 'control-label'
  .controls
    = f.text_field :project, :class => 'text_field'
.control-group
  = f.label :annual, :class => 'control-label'
  .controls
    = f.text_field :annual, :class => 'text_field'
.control-group
  = f.label :granted_at, :class => 'control-label'
  .controls
    = f.text_field :granted_at, id: 'datepicker', value: date_export(bonus.granted_at)
.control-group
  = f.label :sponsor, :class => 'control-label'
  .controls
    = f.text_field :sponsor, :class => 'text_field'