<%- model_class = Bonus -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:employee_id) %></th>
      <th><%= model_class.human_attribute_name(:project) %></th>
      <th><%= model_class.human_attribute_name(:annual) %></th>
      <th><%= model_class.human_attribute_name(:granted_at) %></th>
      <th><%= model_class.human_attribute_name(:sponsor) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @bonuses.each do |bonus| %>
      <tr>
        <td><%= link_to bonus.id, bonus_path(bonus) %></td>
        <td><%= bonus.employee_id %></td>
        <td><%= bonus.project %></td>
        <td><%= bonus.annual %></td>
        <td><%= bonus.granted_at %></td>
        <td><%= bonus.sponsor %></td>
        <td><%=l bonus.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_bonus_path(bonus), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      bonus_path(bonus),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_bonus_path,
            :class => 'btn btn-primary' %>
