<%- model_class = Bonus -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:employee_id) %></th>
      <th><%= model_class.human_attribute_name(:project) %></th>
      <th><%= model_class.human_attribute_name(:annual) %></th>
      <th><%= model_class.human_attribute_name(:granted_at) %></th>
      <th><%= model_class.human_attribute_name(:sponsor) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @bonuses.each do |bonus| %>
      <tr>
        <td><%= link_to bonus.employee.full_name, edit_bonus_path(bonus) %></td>
        <td><%= bonus.project %></td>
        <td><%= bonus.annual %></td>
        <td><%= bonus.granted_at.blank? ? "" : bonus.granted_at.to_date %></td>
        <td><%= bonus.sponsor %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_bonus_path(bonus), :class => 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

