<%- model_class = Bonus -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:employee_id) %>:</strong></dt>
  <dd><%= @bonus.employee.full_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:project) %>:</strong></dt>
  <dd><%= @bonus.project %></dd>
  <dt><strong><%= model_class.human_attribute_name(:annual) %>:</strong></dt>
  <dd><%= @bonus.annual %></dd>
  <dt><strong><%= model_class.human_attribute_name(:granted_at) %>:</strong></dt>
  <dd><%= @bonus.granted_at.to_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sponsor) %>:</strong></dt>
  <dd><%= @bonus.sponsor %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              bonuses_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_bonus_path(@bonus), :class => 'btn' %>
</div>
