.control-group
  = f.label :jan, :class => 'control-label'
  .controls
    = f.text_field :jan, :class => 'text_field'
.control-group
  = f.label :feb, :class => 'control-label'
  .controls
    = f.text_field :feb, :class => 'text_field'
.control-group
  = f.label :mar, :class => 'control-label'
  .controls
    = f.text_field :mar, :class => 'text_field'
.control-group
  = f.label :apr, :class => 'control-label'
  .controls
    = f.text_field :apr, :class => 'text_field'
.control-group
  = f.label :may, :class => 'control-label'
  .controls
    = f.text_field :may, :class => 'text_field'
.control-group
  = f.label :jun, :class => 'control-label'
  .controls
    = f.text_field :jun, :class => 'text_field'
.control-group
  = f.label :jul, :class => 'control-label'
  .controls
    = f.text_field :jul, :class => 'text_field'
.control-group
  = f.label :aug, :class => 'control-label'
  .controls
    = f.text_field :aug, :class => 'text_field'
.control-group
  = f.label :sep, :class => 'control-label'
  .controls
    = f.text_field :sep, :class => 'text_field'
.control-group
  = f.label :oct, :class => 'control-label'
  .controls
    = f.text_field :oct, :class => 'text_field'
.control-group
  = f.label :nov, :class => 'control-label'
  .controls
    = f.text_field :nov, :class => 'text_field'
.control-group
  = f.label :dec, :class => 'control-label'
  .controls
    = f.text_field :dec, :class => 'text_field'