<%- model_class = Adjustment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:employee_id) %></th>
      <th><%= sortable :jan, model_class %></th>
      <th><%= sortable :feb, model_class %></th>
      <th><%= sortable :mar, model_class %></th>
      <th><%= sortable :apr, model_class %></th>
      <th><%= sortable :may, model_class %></th>
      <th><%= sortable :jun, model_class %></th>
      <th><%= sortable :jul, model_class %></th>
      <th><%= sortable :aug, model_class %></th>
      <th><%= sortable :sep, model_class %></th>
      <th><%= sortable :oct, model_class %></th>
      <th><%= sortable :nov, model_class %></th>
      <th><%= sortable :dec, model_class %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @adjustments.each do |adjustment| %>
      <tr>
        <td><%= link_to adjustment.employee.full_name, employee_path(adjustment.employee) %></td>
        <td><%= adjustment.jan %></td>
        <td><%= adjustment.feb %></td>
        <td><%= adjustment.mar %></td>
        <td><%= adjustment.apr %></td>
        <td><%= adjustment.may %></td>
        <td><%= adjustment.jun %></td>
        <td><%= adjustment.jul %></td>
        <td><%= adjustment.aug %></td>
        <td><%= adjustment.sep %></td>
        <td><%= adjustment.oct %></td>
        <td><%= adjustment.nov %></td>
        <td><%= adjustment.dec %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_adjustment_path(adjustment), :class => 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
