<%- model_class = Adjustment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:employee_id) %></th>
      <th><%= model_class.human_attribute_name(:jan) %></th>
      <th><%= model_class.human_attribute_name(:feb) %></th>
      <th><%= model_class.human_attribute_name(:mar) %></th>
      <th><%= model_class.human_attribute_name(:apr) %></th>
      <th><%= model_class.human_attribute_name(:may) %></th>
      <th><%= model_class.human_attribute_name(:jun) %></th>
      <th><%= model_class.human_attribute_name(:jul) %></th>
      <th><%= model_class.human_attribute_name(:aug) %></th>
      <th><%= model_class.human_attribute_name(:sep) %></th>
      <th><%= model_class.human_attribute_name(:oct) %></th>
      <th><%= model_class.human_attribute_name(:nov) %></th>
      <th><%= model_class.human_attribute_name(:dec) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @adjustments.each do |adjustment| %>
      <tr>
        <td><%= link_to adjustment.id, adjustment_path(adjustment) %></td>
        <td><%= adjustment.employee_id %></td>
        <td><%= adjustment.jan %></td>
        <td><%= adjustment.feb %></td>
        <td><%= adjustment.mar %></td>
        <td><%= adjustment.apr %></td>
        <td><%= adjustment.may %></td>
        <td><%= adjustment.jun %></td>
        <td><%= adjustment.jul %></td>
        <td><%= adjustment.aug %></td>
        <td><%= adjustment.sep %></td>
        <td><%= adjustment.oct %></td>
        <td><%= adjustment.nov %></td>
        <td><%= adjustment.dec %></td>
        <td><%=l adjustment.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_adjustment_path(adjustment), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      adjustment_path(adjustment),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_adjustment_path,
            :class => 'btn btn-primary' %>
