<%- model_class = Adjustment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:employee_id) %></th>
      <th><%= model_class.human_attribute_name(:jan) %></th>
      <th><%= model_class.human_attribute_name(:feb) %></th>
      <th><%= model_class.human_attribute_name(:mar) %></th>
      <th><%= model_class.human_attribute_name(:apr) %></th>
      <th><%= model_class.human_attribute_name(:may) %></th>
      <th><%= model_class.human_attribute_name(:jun) %></th>
      <th><%= model_class.human_attribute_name(:jul) %></th>
      <th><%= model_class.human_attribute_name(:aug) %></th>
      <th><%= model_class.human_attribute_name(:sep) %></th>
      <th><%= model_class.human_attribute_name(:oct) %></th>
      <th><%= model_class.human_attribute_name(:nov) %></th>
      <th><%= model_class.human_attribute_name(:dec) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @adjustments.each do |adjustment| %>
      <tr>
        <td><%= link_to adjustment.employee.full_name, edit_adjustment_path(adjustment) %></td>
        <td><%= adjustment.jan %></td>
        <td><%= adjustment.feb %></td>
        <td><%= adjustment.mar %></td>
        <td><%= adjustment.apr %></td>
        <td><%= adjustment.may %></td>
        <td><%= adjustment.jun %></td>
        <td><%= adjustment.jul %></td>
        <td><%= adjustment.aug %></td>
        <td><%= adjustment.sep %></td>
        <td><%= adjustment.oct %></td>
        <td><%= adjustment.nov %></td>
        <td><%= adjustment.dec %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_adjustment_path(adjustment), :class => 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
