<!DOCTYPE html>
<html>
<head>
  <title>Salary</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	      <div class="container">
	        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </a>
	        <a class="brand" href="#">Babydollily薪酬系统</a>
	        <div class="nav-collapse">
	          <ul class="nav">
	            <li><%= link_to "员工信息", employees_path %></li>
	            <li><%= link_to "工资记录", wages_path %></li>
	            <li><%= link_to "奖金记录", bonuses_path %></li>
	            <li><%= link_to "调薪记录", adjustments_path %></li>
	          </ul>
	        </div>
	      </div>
	    </div>
	  </div>
  <div class="container">
    <div class="row">
      <div class="span1"></div>
      <div class="span12"><%= yield %></div>
      <div class="span1"></div>
    </div>
  </div>

</body>
</html>
